RewriteEngine On

ErrorDocument 404 /error404

# Si le fichier auquel on tente d'accéder existe (si on veut accéder à une image par exemple).
# Alors on ne réécrit pas l'URL.
# RewriteRule ^admin(.*)$ index.php?url=$1&app=Backend [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
# Authorization  header
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]